 body {

     font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }


 .container {
     width: 100%;
 }

 .hero {
     background-color: rgb(255 192 23);
 }

 .header {
     display: flex;
     padding: 16px;
     border-bottom: 0.5px solid black;
     position: sticky;
     top: 0px;
     background-color: rgb(255 192 23);
     z-index: 1;
     white-space: nowrap;
 }

 .header__content {
     display: flex;
     flex-wrap: nowrap;
     margin: 0px 64px;
     display: flex;
     width: 100%;
     justify-content: center;
     vertical-align: middle;
     align-items: center;
 }

 .header__placeholder {
     display: flex;
     flex-wrap: nowrap;
     width: 33vw;
 }

 .header img {
     height: 25px;
 }

 .header a {
     display: flex;
     flex-wrap: nowrap;
     font-size: 14px;
     line-height: 20px;
     line-height: 14px;
 }

 .black-btn {
     font-size: 24px;
     background-color: black;
     color: white;
     padding: 12px 15px;
     border-radius: 20px;
 }

 .links {
     display: flex;
     align-items: center;
     gap: 25px;
 }

 .main {
     display: flex;
     justify-content: space-between;
     border-bottom: 0.5px solid black;
     align-content: center;
     overflow: hidden;
 }

 .main-text {
     display: flex;
     flex-direction: column;
     width: 600px;
     height: 100%;
     justify-content: space-evenly;
     gap: 40px;
     padding-top: 90px;
     padding-bottom: 90px;
     padding-left: 347px;
 }



 h1 {
     font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
     margin-block: 0;
     font-size: 110px;
     font-weight: 400;
     letter-spacing: -0.05em;
     line-height: 95px;
     white-space: nowrap;
 }

 .main-text p {
     width: 400px;
     font-size: 22px;

 }

 .main-text span {
     font-size: 22px;
     width: 200px;
     border-radius: 30px;
     text-align: center;
 }

 .trending {
     display: flex;
     padding-top: 40px;
     justify-content: center;
 }

 .center-content {
     width: 1200px;
 }

 .center-content2 {
     display: flex;
     flex-direction: row;
     width: 1200px;
 }

 .trending-header {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .trending-header>img {
     width: 25px;
 }

 .trending-header>span {
     font-size: 12px;
     font-weight: 700;
 }

 .trending-topics {
     display: flex;
     flex-wrap: wrap;
     margin-top: 15px;
     align-items: center;
 }

 .topic {
     display: flex;
     margin-bottom: 15px;
 }

 .topic>span {
     font-size: 30px;
     font-weight: 700;
     color: rgb(230 230 230);
     margin-right: 20px;
 }

 .topic div {
     margin-top: 2px;

 }

 .trending-post-header,
 .story-header {
     display: flex;
     align-items: center;
 }

 .story-header img {
     width: 20px;
     border-radius: 50%;
     margin-right: 5px;
 }

 .trending-post-header img {
     width: 20px;
     border-radius: 3px;
     margin-right: 5px;
 }

 .trending-post-header>span,
 .story-header span {
     font-size: 13px;
 }

 .trending-topics .div {
     display: flex;
 }


 .trending-topics .div {
     display: flex;
 }

 .trending-post {
     display: flex;
     flex-direction: column;
     width: 345px;
 }

 .trending-post span {
     font-size: 16px;
 }

 .trending-post-header span {
     font-size: 13px;
 }

 .trending-post>span {
     margin-top: 10px;
 }

 .trending-post>span:first-of-type {
     font-weight: 700;
 }

 .topic-bottom {
     display: flex;

     align-items: center;
     gap: 10px;
     align-content: flex-start;
 }

 .topic-bottom span {
     color: rgb(117, 117, 117);
     font-size: 13px;
     font-weight: 300px;
     margin-top: 10px;
     margin-bottom: 30px;
 }

 .topic-bottom img {
     width: 20px;
     margin-bottom: 18px;
 }



 .bottom-main {
     display: flex;
     padding-top: 60px;
     border-top: 0.5px solid rgb(230, 230, 230);
     justify-content: center;
 }


 .stories {
     display: flex;
     flex-direction: column;
     margin-top: 5px;

 }

 .story-content {
     display: flex;
     flex-direction: column;
     width: 455px;
 }

 .story-content>span:first-of-type {
     margin-top: 10px;
     font-size: 21px;
     font-weight: 600;
 }

 .story-content>span:last-of-type {
     margin-top: 10px;
     font-size: 16px;
     font-weight: 400;
     color: rgb(117, 117, 117);
 }

 .story-content span:nth-of-type(2) {
     font-size: 15px;
 }

 .story-content .topic-bottom .topic-typ {
     color: rgb(117, 117, 117);
     background-color: rgb(242, 242, 242);
     border: 8px solid rgb(242, 242, 242);
     border-radius: 20px;
     font-size: 12px;
 }

 .topic-bottom .bookmark {
     margin-left: auto;
     width: 25px;
 }

 .hole-storey {
     display: flex;
     margin-bottom: 15px;
 }

 .story-img img {
     margin-left: 30px;
     height: 134px;
     margin-top: auto;
 }

 .filters {
     display: flex;
     flex-direction: column;
     position: sticky;
     top: 105px;
     height: 60%;
     margin-left: 100px;
 }

 .filter-heading {
     display: flex;
     margin-bottom: 15px;
     align-content: flex-start;
 }


 .filter-heading>span {
     color: rgb(41, 41, 41);
     font-weight: 700;
     font-size: 12px;
 }

 .filter-section {
     display: flex;
     flex-wrap: wrap;
     gap: 6px;
     padding-bottom: 40px;
     border-bottom: 0.5px solid rgb(230, 230, 230);
     margin-bottom: 20px;
 }

 .filter-section>span {
     font-size: 14px;
     color: rgb(117, 117, 117);
     padding: 8px 16px;
     border: 0.5px solid rgb(117, 117, 117, 0.2);
     border-radius: 3px;
 }

 .info-section {
     display: flex;
     flex-wrap: wrap;
 }

 .info-section span {
     font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     color: rgb(117, 117, 117);
     margin-right: 25px;
     margin-bottom: 7px;
 }

 .tran-white {
     transition: background-color 0.5s ease;
     background-color: white;
 }

 .tran-yellow {
     transition: background-color 0.5s ease;
     background-color: rgb(255 192 23)
 }

 .tran-green {
     transition: background-color 0.5s ease;
     background-color: rgb(26, 137, 23);
 }

 .green-balck {
     transition: background-color 0.5s ease;
     background-color: black;
 }